{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="text-center mw-500 m-auto">
        {% if user == target_user %}
        <div class="user_button">
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                <button type="button" class="btn btn-success">
                        Update
                </button>
            </a>
            <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                <button type="button" class="btn btn-danger">
                        Delete
                </button>
            </a>
        </div>
        {% endif %}
        <div class="move_button">
            <a href="{% url 'main' %}">
                <button type="button" class="btn btn-dark">
                        Main Page
                </button>
            </a>
        </div>
    </div>
</body>
</html>