/* FONT */
/* 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

* {
    font-family: 'Nanum Gothic Coding', sans-serif;
}

.mw-500{
  max-width: 500px;
  padding: 1rem,1.5rem;
}