body {
    display: flex;
    align-items: center;
}

.middle-box {
    background-color: #d6ccc2;
    max-width: 100%;
    max-height: 80%;
    width: 30%;
    min-width: 300px;
    border-radius: 8px;
    margin: auto;
}

.title-h2 {
    margin: auto;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.4;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    white-space: pre-wrap;
    word-break: keep-all;
    display: block;
    text-align: center;
}

.inner_text {
    font-weight: 500;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: rgb(25, 31, 40);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    min-height: 3rem;
    line-height: 1.7;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding-left: 14px;
    background-color: rgb(250, 250, 250);
}

.icon-svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.input-area {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    text-overflow: ellipsis;
    padding: 16.5px 14px 16.5px 0px;
}

.inner_text input {
    padding: 1rem 0.75rem;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.join {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
}

.css-1eit3jj {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.pass_p {
    color: rgb(52, 62, 75);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.46;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    text-align: left;
    margin: 0.25rem 0px 0px;
}

.submit_btn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    text-transform: uppercase;
    min-width: 64px;
    color: black;
    background-color: #f5ebe0;
    width: 100%;
    box-shadow: none;
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: 0.9375rem;
    padding: 0.6875rem 1.25rem;
    line-height: 1.5rem;
    box-shadow: 2px 2px 2px black;
}

.submit_btn:hover {
    background-color: #d5bdaf;
    box-shadow: none;
    color: white;
    }

.error-message{
    color: red;
}