p {
    font-size: 25px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'BMJUA', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img{
    border-radius: 5px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;
    background-color: #bfdbf7;
}



.right_container {
    background-color: #e1e5f2;
    text-align: center;
    height: 100%;
    margin-left: 30px;
    width: 300px;
}
       /* @font-face {
            font-family: 'BMJUA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        } */
        p {
            font-size: 25px;
        }
        body {
            margin: 0;
            padding: 0;
            /* font-family: 'BMJUA', Arial, sans-serif; */
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        img{
            border-radius: 5px;
            margin-top: 10px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        main {
            display: flex;
            /* flex-grow: 1; */
            justify-content: center;
            align-items: center;
            background-color: white;
        }



        .right_container {
            background-color: #d6ccc2;
            /* position: fixed; */
            /* right: 250px; */
            height: 100%;
            margin-left: 30px;
            width: 350px;
        }
        .info_div{
            margin-left: 100px;
            position: fixed;
        }
        .chatgpt-button-div{
            position: fixed;
            margin-top: 70px;
        }
        .signchatgpt-button-div{
            position: fixed;
            margin-top: 350px;
        }

        /* link가 버튼임 */
        .link {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #f5ebe0;
        color: #ffffff;;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
        width: 300px;
        margin: 50px;
        height: 300px;
        text-align: center;
        box-shadow: 3px 3px 3px black;
        font-weight: bold;
        }
        #gpt_img{
            margin-top: 30px;
        }
        #sign_gpt_img{
            margin-top: 30px;
        }
        .link:hover {
        background-color: #022b3a;
        box-shadow: none;
        }
        #link_up:hover #gpt_img{
            animation: rotate_image 2s linear infinite;
            transform-origin: center;
            transform: rotate(0deg);
        }
        @keyframes rotate_image{
            100% {
                transform: rotate(360deg);
            }
        }
        .info_div{
            margin-top: 1rem;
        }
        .info{
            float: right;
            margin: 10px;
            
            font-size: 20px;
        }
        .info_div{
            margin-right: 50px;;
            float: rigth;
        }


/* link가 버튼임 */
.link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: hwb(41 84% 8%);
    color: rgb(80, 75, 62);
    border: 1px solid hwb(41 84% 8%);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(80, 75, 62);
    text-decoration: none;
    margin: 0 auto;
    /* color: inherit; */
}
.link:hover {
background-color: hwb(39 91% 0%);
color: rgb(80, 75, 62);
box-shadow: 3px 3px 3px rgb(80, 75, 62);
}
#link_up:hover #gpt_img{
    animation: rotate_image 2s linear infinite;
    transform-origin: center;
    transform: rotate(0deg);
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


.info_div{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 100px;
    position: fixed;
}


.chatgpt-button-div{
    position: fixed;
    margin-top: 70px;
    margin-left: 25px;
}


.signchatgpt-button-div{
    position: fixed;
    margin-top: 400px;
    margin-left: 25px;
}


.info{
    float: right;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}
.info:hover{
    color: rgb(248, 244, 241);
}


/* 여기부터 왼쪽란 */
.top_topic{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: -10px;
    margin-top: 30px;
}
.topic {
    display: flex;
    font-size: 50px;
    font-weight: bolder;
    /* padding-top: 100px; */
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
}

.left_text{
    width: 820px;
}
.left_img{
    text-align: center;
}
.right_img{
    margin-left: 50px;
}
.under_img{
    margin-top:50px;
}



table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}


.team_self{
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}

.team-self-image{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.team_self-name{
    text-align: center;
}

.main_content_image{
    width: 550px;
}

.main_title_text{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}

.sub_title_text{
    text-align: center;
    font-size: 20px;
}


main hr {
    margin-top: 150px;
    margin-bottom: 150px;
}

.header_title{
    margin-bottom: 125px;
}

.image-zone{
    margin-left: 30px;
}

.logout-btn {
    margin-left: 30px;
}

.e-zone{
    height: 100px;
}