p {
    font-size: 25px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'BMJUA', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img{
    border-radius: 5px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;
    background-color: #bfdbf7;
}



.right_container {
    background-color: #e1e5f2;
    text-align: center;
    height: 100%;
    margin-left: 30px;
    width: 400px;
}
       /* @font-face {
            font-family: 'BMJUA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        } */
        p {
            font-size: 25px;
        }
        body {
            margin: 0;
            padding: 0;
            /* font-family: 'BMJUA', Arial, sans-serif; */
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        img{
            border-radius: 5px;
            margin-top: 10px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        main {
            display: flex;
            /* flex-grow: 1; */
            justify-content: center;
            align-items: center;
            background-color: white;
        }



        .right_container {
            background-color: #d6ccc2;
            /* position: fixed; */
            /* right: 250px; */
            height: 100%;
            margin-left: 30px;
            width: 400px;
        }
        .info_div{
            margin-left: 100px;
            position: fixed;
        }
        .chatgpt-button-div{
            position: fixed;
            margin-top: 100px;
        }
        .signchatgpt-button-div{
            position: fixed;
            margin-top: 500px;
        }

        /* link가 버튼임 */
        .link {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #f5ebe0;
        color: #ffffff;;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
        width: 300px;
        margin: 50px;
        height: 300px;
        text-align: center;
        box-shadow: 3px 3px 3px black;
        font-weight: bold;
        }
        .link:hover {
        background-color: #022b3a;
        box-shadow: none;
        }
        #link_up:hover #gpt_img{
            animation: rotate_image 2s linear infinite;
            transform-origin: center;
            transform: rotate(0deg);
        }
        @keyframes rotate_image{
            100% {
                transform: rotate(360deg);
            }
        }
        .info_div{
            margin-top: 1rem;
        }
        .info{
            float: right;
            margin: 10px;
            
            font-size: 20px;
        }
        .info_div{
            margin-right: 50px;;
            float: rigth;
        }


/* link가 버튼임 */
.link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1f7a8c;
    color: #ffffff;
    border: 1px solid #1f7a8c;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 350px;
    height: 350px;
    text-align: center;
    box-shadow: 3px 3px 3px black;
    text-decoration: none;
    margin: 0 auto;
    /* color: inherit; */
}
.link:hover {
background-color: #022b3a;
box-shadow: none;
}
#link_up:hover #gpt_img{
    animation: rotate_image 2s linear infinite;
    transform-origin: center;
    transform: rotate(0deg);
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.info_div{
    margin-left: 100px;
    position: fixed;
}
.chatgpt-button-div{
    position: fixed;
    margin-top: 100px;
    margin-left: 25px;
}
.signchatgpt-button-div{
    position: fixed;
    margin-top: 500px;
    margin-left: 25px;
}
.info_div{
    margin-top: 1rem;
}
.info{
    float: right;
    margin: 10px;
    
    font-size: 20px;
}
.info_div{
    margin-right: 50px;;
    float: rigth;
}


/* 여기부터 왼쪽란 */
.top_topic{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: -10px;
    margin-top: 30px;
}
.topic {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px;
    margin-bottom: 30px;
}

.left_text{
    width: 820px;
}
.left_img{
    text-align: center;
}
.right_img{
    margin-left: 50px;
}
.under_img{
    margin-top:50px;
}