{% load static %}
{% load bootstrap4 %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>

<script src="{% static 'js/signchatgpt.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/newchatgpt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signchatgpt.css' %}">

{% include 'head.html' %}

<body>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <!-- Dropzone을 위한 영역 -->
            <form action="{% url 'api:signchatgpt' %}" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                {% csrf_token %}
            </form>
            <!-- 전송 버튼 -->
            <button id="submitBtn">전송하기</button>
            <!-- 모달창 내용 -->
            <div id="modal-content"></div>
        </div>
    </div>
    
    
    <div id='chatgpt'>
        <div id="left-side-bar">
            <a href="{% url 'signchatgpt:index' %}">
                <div class='new-chat'>+ 새로운 채팅</div>
            </a>
            <div>
                {% if result %}
                    {% for entry in result %}
                        <p class='subtitle_date'>{{ entry.pub_date }}</p>
                        {% for message in entry.message%}
                            <div class='chat_page' id='page_{{message.page}}' onclick="show_chat_page({{message.page}})">
                            <p>
                                {{ message.question }} 
                            </p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% comment %} <p>GPT 를 처음 사용하신 유저 입니다.</p> {% endcomment %}
                {% endif %}
                <!-- 이전 채팅 내용 목록이 들어가는 자리 -->
            </div>
        </div>

        <div id="content">
            <div id="chat-zone">
                <!-- GPT와의 채팅이 들어가는 자리 -->
            </div>

            <div id="message-send-zone">
                <!-- GPT에게 수어 사진 파일을 보내는 자리 -->
                <input type="button" id="select-file-button" data-csrf-token="{{ csrf_token }}" value="수어로 대화하기" onclick="openModal()" />
            </div>
        </div>
    </div>

</body>
{% if result and new_chat_bool %}
    <script> show_chat_page('{{result.0.message.0.page}}')</script>
{% endif%}
</html>
