{% load static %}
{% load bootstrap4 %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/newchatgpt.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/newchatgpt.css' %}">

{% include 'head.html' %}
<body>
    <div id='chatgpt'>
        <div id="left-side-bar">
            <div>
                <a href="{% url 'newchatgpt:index' %}">
                    <div class='new-chat'>+ 새로운 채팅</div>
                </a>
            </div>
            <div>
                {% if result %}
                    {% for entry in result %}
                        <p class='subtitle_date'>{{ entry.pub_date }}</p>
                        {% for message in entry.message%}
                            <div class='chat_page' id='page_{{message.page}}' onclick="show_chat_page({{message.page}})">
                            <p>
                                {{ message.question }} 
                            </p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% comment %} <p>GPT 를 처음 사용하신 유저 입니다.</p> {% endcomment %}
                {% endif %}
            </div>
        </div>
        <div id="content">
            <div id="chat-zone">
                <!-- GPT와의 채팅이 들어가는 자리 -->
            </div>

            <div id="message-send-zone">
                <!-- GPT에게 채팅을 보내는 자리 -->
                <input type="text" id='gpt-input' placeholder="Type your question..."/>
                <input type="button" id="send-chat-button" onclick="addUserMessage()" data-csrf-token="{{ csrf_token }}" value="전송"/>
            </div>
        </div>
    </div>
    {% if result %}
    <script> show_chat_page('{{result.0.message.0.page}}')</script>
    {% endif%}
</body>
